{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"],
    },
    "test": {
      "plugins": [
        ["resolver", { "resolveDirs": ["browser"] }],
        ["webpack-loaders", { "config": "./configuration/webpack.node.js", "verbose": false }]
      ]
    }
  }
}
